<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/spCss.css">
<script type="text/javascript" src="/js/spjs.js"></script>
<title>Insert title here</title>
</head>
<body>
	<!-- ${ViewModelが保持するkey名} でサーバー側で持たせた値を出力する -->
	<!-- | で囲った文字列リテラルの中で ${} 書けばリテラルに変数を埋め込める -->
	<h1 th:text="|${controller} からのメッセージ！|"></h1>
	
	<!-- インライン処理 -->
	<!-- インラインは前後に改行が入らず、文章の一部として表示される <div>の中の<span>など -->
	<!-- 大括弧2連で th:text を使わずに直接値を出力できる -->
	<!-- コメント内で大括弧2連書くと Whitelabel Error Page になる -->
	<p class="title">[['インライン処理 & css適用']]</p>

	<h3>[['インラインで ' + ${controller} + ' からのメッセージ！']]</h3>

	<!-- 各リテラル -->
	<span th:text="'文字'"></span>
	<span th:text="'123'"></span>
	<span th:text="'true'"></span>
	<span th:text="'null'"></span>
	<br />
	<!-- 文字結合 -->
	<span th:text="'文字 ' + ' 結合!!'"></span>
	
	<!-- 以下 単純式 -->
	<!-- メッセージ式 #{} -->
	<p th:text="#{content.morning}">HTMLを直接開いた時のメッセージ式</p>
	
	<!-- 変数式 ${} -->
	
</body>
</html>